@{
    ViewData["Title"] = "Home Page";
}

<h2>Fertility Tracking App</h2>
<p>This app has been created as a digital means of charting recording the daily observations of users followig the CREIGHTON MODEL. "The CREIGHTON MODEL is a new, uniquely American model of advanced procreative education.  It allows for the first time the opportunity to network family planning with women's health and it accomplishes this in a way which is completely natural and cooperative with a woman's menstural and fertility cycles. This app will allow the user to record the biomarkers of the naturally occurring phases of her fertility and infertility."</p>
<div class="text-center">
    <button type="submit" class="btn btn-default"><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></button>
    <h5>-or-</h5>
    <button type="submit" class="btn btn-default"><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></button>
</div>