
@{
    ViewData["Title"] = "My Chart";
}
<div class="text-center" id="selectedDate">
    <h4>Observations From: "Placeholder" To: "Placeholder" </h4>
    <h7>Select a date to view and/or edit</h7>

</div>

<div class="container" id="selectedChartDates">
    <div class="col-sm-12">

    </div>

</div>
