@model ChartEntryViewModel; 
@{
    ViewData["Title"] = "My Account";
}

<div class="text-left" id="dateRange">
    <h4>Select a date range to view and or edit entries</h4>
    <h5>
        From: <input type="date" />  To: <input type="date" />
        <button type="submit" class="btn btn-default"><a asp-area="" asp-controller="Chart">View</a></button>
    </h5>

</div>

<h2 class="text-center">My Recent Observations</h2>
<form asp-controller="ChartEntry" asp-action="saveEntry">
    <div class="text-center" id="dailyEntryContainer">
        <div id="dailySticker">
            <h3>Record Observations From Today</h3>
            <h4>Sticker</h4>
            <select asp-for="StickerId" class="form-control" asp-items="ViewBag.StickerId"></select>
        </div>

        <div id="dailyDescription">
            <h4>Description</h4>
            <select asp-for="DescriptionId" class="form-control" asp-items="ViewBag.DescriptionId"></select>
        </div>

        <div id="dailyDate">
            <h4>Date of Observation</h4>
            <input type="date" asp-for="DateCreated" />
        </div>
        <div id="saveButton">
            <button type="submit" class="btn btn-default">Save</button>
        </div>

    </div>
</form>
