@model ChartEntryViewModel; 
@{
    ViewData["Title"] = "Fertility Tracker";
}

<form asp-controller="ChartEntry" asp-action="saveEntry">
    <div class="text-center" id="dailyEntryContainer">
        <div id="dailySticker">
            <h2>Record Observations From Today</h2>
            <h4>Sticker</h4>
            <select asp-for="StickerId" class="form-control" asp-items="ViewBag.StickerId"></select>
        </div>

        <div id="dailyDescription">
            <h4>Description</h4>
            <select asp-for="DescriptionId" class="form-control" asp-items="ViewBag.DescriptionId"></select>
        </div>

        <div id="dailyDate">
            <h4>Date of Observation</h4>
            <input type="date" asp-for="DateCreated" />
        </div>
        <br />
        <div id="saveButton">
            <button type="submit" class="btn btn-success">Save</button>
        </div>

    </div>
</form>
